<script type="text/javascript">
  //Demanda por articulo id
  $('#demanda_articulo').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: ''
      },
      subtitle: {
          text: ''
      },
      xAxis: {
          categories: [
          <% @articulos_demanda.each do |demanda|  %>
          <%= demanda[0] %>,
          <%end%>
          ],
          crosshair: true
      },
      yAxis: {
          min: 0,
          title: {
              text: ''
          }
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>{point.y}</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [{
          name: 'Total',
          data: [
            <% @articulos_demanda.each do |demanda|  %>
            <%= demanda[1] %>,
            <%end%>
          ]
      }]
  });
</script>
