<div class="col-lg-3 col-md-6">
  <div class="panel panel-green">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="glyphicon glyphicon-paperclip glyphicon5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"> <%= @articulos_disponibles %> </div>
          <div>Articulos en Stock</div>
        </div>
      </div>
    </div>
    <a href="#">
      <div class="panel-footer">
        <span class="pull-left">Ver Todos</span>
        <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>

<div class="col-lg-3 col-md-6">
  <div class="panel panel-red">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="glyphicon glyphicon-remove glyphicon5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"> <%= @articulos_agotados %> </div>
          <div>Artículos sin stock</div>
        </div>
      </div>
    </div>
    <a href="#">
      <div class="panel-footer">
        <span class="pull-left">Ver Todos</span>
        <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>

<div class="col-lg-3 col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="glyphicon glyphicon-send glyphicon5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"> <%= @total_pedidos %> </div>
          <div>Pedidos Enviados</div>
        </div>
      </div>
    </div>
    <a href="#">
      <div class="panel-footer">
        <span class="pull-left">Ver Todos</span>
        <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>

<div class="col-lg-3 col-md-6">
  <div class="panel panel-yellow">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="glyphicon glyphicon-th glyphicon5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"> <%= @total_departamentos %> </div>
          <div>Departamentos</div>
        </div>
      </div>
    </div>
    <a href="#">
      <div class="panel-footer">
        <span class="pull-left">Ver Todos</span>
        <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>
