<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1><strong><center>Sistema de Inventarios</center></strong></h1>
          <div class="description">
            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>Acceder al sistema</h3>
              <p>Ingresa el usuario y la contraseña</p>
            </div>
            <div class="form-top-right">
              <i class="glyphicon glyphicon-lock"></i>
            </div>
          </div>
          <div class="form-bottom">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <label class="sr-only" for="form-username">Username</label>
                <%= f.text_field :login, autofocus: true, class:"custom-text", placeholder:"Usuario..."%>
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-password">Password</label>
                <%= f.password_field :password, autocomplete: "off", class:"custom-text", placeholder: "Contraseña..." %>
              </div>
              <%= f.submit "Entrar", class:"btn btn-success  btn-lg btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
