<% content_for :subtitulo do %>
  Detalles del Articulo
<% end %>

<p>
  <strong>Codigo:</strong>
  <%= @articulo.codigo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @articulo.descripcion %>
</p>
